* {
    box-sizing: border-box;
}

body {
    background-color: #e42d42;
    font-family: "Phantom Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hack-logo {
    width: 10%;
}

.specs {
    display: flex;
}