* {
    box-sizing: border-box;
}

body {
    background-color: #e42d42;
    font-family: "Phantom Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hack-logo {
    width: 10%;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form {
    padding: 50px 200px;
    border-radius: 2%;
    margin: 5px 5px;
    width: 50%;
}

.field-container {
    margin-bottom: 30px;
}

.input-title {
    font-size: 17px;
}

.input-container {
    margin: 10px 0;
}

.input-field {
    width: 100%;
    height: 50px;
    border: 1px solid darkgray;
    border-radius: 10px;
    color: black;
    background-color: white;
    padding: 10px;
    margin: 0;
    font-size: 20px;
}

.input-field:hover {
    border: 2px solid darkgray;
}

.submit-button {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #e42d42;
    border: 2px solid white;
    border-radius: 10px;
    padding: 3px;
    margin: 0;
    font-weight: bold;
    cursor: none;
    font-size: 17px;
    transition: background-color 200ms ease-in-out;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #e95561;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-format {
    display: flex;
}

.members-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 400px;
}

.members-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.member-picture {
    width: 150px;
    border-radius: 100%;
}

.leader .member-picture {
    border: 4px solid #33d6a6;
}

.president .member-picture {
    border: 4px solid #5bc0de;
}

.monitor .member-picture {
    border: 4px solid #f1c40f;
}

.leaders-section{
    flex-basis: auto;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.monitors-section{
    flex-basis: auto;
    height: 50px;
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.partners{
    margin-bottom: 50px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.partner-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.partner-logo {
    margin: 0 20px;
    width: 200px;
    transition: opacity 200ms ease-in-out;
}

.partner-logo:hover {
    opacity: 70%;
    transition: opacity 200ms ease-in-out;
}

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    height: 60px;
    margin-top: 100px;
    font-weight: bold;
}